.signupbutton{
    padding: 7px 8px 7px 10px;
    margin: 15px 9px 10px 19px;
    width: 115%;
    border-radius: 0px;
    color: white;
    background-color: #a435f0;
    border: 1px solid transparent;
    font-weight: 700;
    font-size: 15px;
}

.terms{
    font-size: 11.5px; 
    border-bottom: 1.4px solid #d1d7dc;
    padding: 12px;
    margin: 12px;
    text-align: center;
    width: 125%;
}